body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

ul
{
	list-style: none;
	padding: 0;
	white-space: pre-line;
}

li
{
	line-height: 1.2;
	margin: 1.5em;
}

input
{
	margin-right: 1em;
}

.user-message
{
	text-align: right;
}

.user-name
{
	font-weight: bold;
	color: red;
}

.other-name
{
	font-weight: bold;
	color: blue;
}

#welcome_page
{
	position: absolute;
	left: 40%;
}

#chat_page
{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#chat_messages
{
	max-width: 420px;
	height: 80vh;
	overflow-y: auto;
	overflow-wrap: break-word;
	margin-bottom: 2em;
}

#chat_input
{
	width: 350px;
}